[Unit]  
Description=Nginx log
After=network.target  
StartLimitIntervalSec=0

[Service]  
Type=simple  
Restart=always  
RestartSec=1  
User=ubuntu  
ExecStart=/home/ubuntu/nginxLog.sh
  
[Install]  
WantedBy=multi-user.target